
code/.ipynb_checkpoints/project-1-group-code-checkpoint.ipynb
code/project-1-group-code.ipynb
data/.ipynb_checkpoints/2012_2022_daily_cleaned-checkpoint.csv
data/.ipynb_checkpoints/2012_2022_daily_weather-checkpoint.csv
data/.ipynb_checkpoints/2012_2022_monthly_cleaned-checkpoint.csv
data/2012_2022_daily_cleaned.csv
data/2012_2022_daily_weather.csv
data/2012_2022_monthly_cleaned.csv
data/2022_weather_tide.csv
images/.ipynb_checkpoints/PU_top_months-checkpoint.png
images/PU_daily_hist.png
images/PU_monthly.png
images/PU_monthly_2022.png
images/PU_top_months.png
data/ema/ElectricityConsumption_Original.xlsx
images/PU_top_months_highest.png
